openapi: 3.1.0
info:
  title: CYBERBIZ API v1
  version: 1.0.1
  description: |-
    # CYBERBIZ API v1

    CYBERBIZ 電商平台所有 `/v1` 操作，由官方 Swagger 2.0 定義產生，並依據實際錄製的回應（Golden File）修正。
    兩者不一致時以實際行為為準；swagger 未記載的欄位標有 `x-cyberbiz-observed` 標記。

    ## 慣例

    - **Base URL**：所有商店與所有 API 版本皆為 `https://app-store-api.cyberbiz.io`。版本為路徑前綴（`/v1`、`/v2`）；app 端點 `/shop` 與 `/settings` 沒有前綴。
    - **驗證**：每個請求都帶 `Authorization: Bearer <API Token>`。token 是核發給 app、對應單一商店的 JWT，並攜帶其權限範圍（`read_orders`、`write_products` 等）。`read_*` 授權該資源群組的 GET 操作；`write_*` 授權 POST/PUT/DELETE。
    - **速率限制**：每個 token 每秒最多 5 個請求，超過會得到 `429`。
    - **分頁**：列表端點接受 `page`（從 1 起算）、`per_page`（預設與上限 50）與 `offset`；回傳的區段從第 `offset + (page - 1) * per_page + 1` 筆開始。回應帶有 `X-Page`、`X-Per-Page`、`X-Offset`、`X-Total`、`X-Total-Pages`、`X-Next-Page` 與 `X-Prev-Page`。
    - **時間**為 Asia/Taipei 當地時間字串 `YYYY-MM-DD HH:MM:SS`，不含時區（schema `Timestamp`）；日期為 `YYYY-MM-DD`（schema `Date`）。
    - **金額**欄位為 JSON 數字（如 `9999.0` 的浮點數），即使 swagger 標為 integer（schema `Money`）。
    - **Null**：沒有任何欄位保證非 null。實際回應中觀察到 `null` 的欄位已標為 nullable；其他欄位也應視為可能為 null。
    - **請求內容**以 JSON 送出。原始 swagger 將多數寫入操作記為 form data；平台接受 `application/json`。
    - **錯誤**格式為 `{"error": ["..."]}`、`{"error": "..."}`、`{"message": "..."}`、`{"messages": "..."}` 之一。`401` 代表 token 無效**或**商店未開通該功能。部分查詢找不到資料時回應 `200` 搭配 `null`，或 `206` 搭配 `[]`。
    - 本文件的**範例**皆為合成資料：結構來自實際錄製的回應，數值皆為虛構。

    ## Release Notes

    ### 1.0.1 (2026-10-02)

    - Postman collection 說明不再指向 repository 內部的檔案。

    ### 1.0.0 (2026-09-08)

    - 初版：由 CYBERBIZ v1 swagger、v1/v2 Postman collection、Notion v2 參考頁面與 webhook 參考文件產生。
    - 套用實際觀察的修正：可為 null 的欄位、金額為浮點數、order_number 為整數、文件記為物件的陣列、swagger 缺少的欄位、Bearer 驗證。
    - 每個操作與事件皆附有由 Golden File 衍生的合成範例。
servers:
  - url: https://app-store-api.cyberbiz.io
    description: 正式環境（所有商店與所有 API 版本共用同一主機）。
security:
  - bearerAuth: []
tags:
  - name: assets
    description: CKEditor 圖庫（富文字內容使用的圖片）。
  - name: customers
    description: 會員：基本資料、標籤、自訂欄位、紅利點數、優惠券、訂單、VIP 資訊。
  - name: orders
    description: 訂單：列表、明細、狀態轉換、出貨、付款紀錄、標籤與備註。
  - name: order_returns
    description: 訂單退貨。
  - name: products
    description: 商品、款式、選項、照片、介紹、標籤與綁定物流設定。
  - name: smart_collections
    description: 智慧群組（規則式）及其規則。
  - name: custom_collections
    description: 自訂群組（手動維護）及其商品。
  - name: special_collections
    description: 任選折扣群組及其規則。
  - name: add_buy_collections
    description: 加價購群組。
  - name: vip_collections
    description: VIP 設定（舊版 VIP 群組）。
  - name: vip_groups
    description: VIP 群組與階層（新版 VIP 模型）。
  - name: shop_coupons
    description: 全館優惠券。
  - name: pos_shop_coupons
    description: 門市優惠券（需要 pos_shop_coupon plugin）。
  - name: discounts
    description: 全館活動。
  - name: einvoices
    description: 訂單的電子發票。
  - name: offline_einvoices
    description: 線下（手動開立）發票。
  - name: custom_field_types
    description: 會員自訂欄位類型定義。
  - name: pos_shops
    description: POS 商店、POS 機及其商品（POS 專屬）。
  - name: stock_invoices
    description: 出倉單（POS 專屬）。
  - name: stock_receipts
    description: 進倉單（POS 專屬）。
  - name: stock_requisitions
    description: 調倉單（POS 專屬）。
  - name: stock_adjustments
    description: 庫存調整（POS 專屬）。
  - name: branch_stores
    description: 門市：取貨門市、運費設定、門市人員、快速到貨設定。
  - name: inventory_sync_groups
    description: 庫存同步群組（需額外付費；請洽 CYBERBIZ 開店顧問開通）。
  - name: order_etickets
    description: 訂單的電子票券。
  - name: periodic_orders
    description: 定期訂單。
  - name: bonus_rule
    description: 紅利積點規則。
  - name: limit_collections
    description: 商品限購群組。
  - name: variant_discount_collections
    description: 單品折扣群組。
  - name: custom_fields
    description: 新版自訂欄位。
  - name: blogs
    description: 部落格、文章、文章標籤與 SEO 標籤。
paths:
  /v1/add_buy_collections:
    get:
      tags:
        - add_buy_collections
      summary: 取得所有加價購群組
      description: 取得所有加價購群組
      operationId: getV1AddBuyCollections
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/offset'
      responses:
        "200":
          description: 取得所有加價購群組
          headers:
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
            X-Offset:
              $ref: '#/components/headers/X-Offset'
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Total-Pages:
              $ref: '#/components/headers/X-Total-Pages'
            X-Next-Page:
              $ref: '#/components/headers/X-Next-Page'
            X-Prev-Page:
              $ref: '#/components/headers/X-Prev-Page'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddBuyCollections'
              example: []
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - add_buy_collections
      summary: 建立加價購群組
      description: 建立加價購群組
      operationId: postV1AddBuyCollections
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - published
                - price
                - item_limit
              properties:
                title:
                  description: 標題
                  type: string
                published:
                  description: 是否公開
                  type: boolean
                products_order:
                  description: |-
                    群組商品的排序方式
                    「按標題拼音升序: A-Z」: title.asc
                    「按標題拼音降序: Z-A」: title.desc
                    「按創建日期: 最近-最遠」: created_at.desc
                    「按創建日期: 最遠-最近」: created_at.asc
                    「按價格排序: 最高-最低」: price.desc
                    「按價格排序: 最低-最高」: price.asc
                    「手動排序」: manual
                    「暢銷商品排序」: sell_weight.desc
                  type: string
                  enum:
                    - title.asc
                    - title.desc
                    - created_at.desc
                    - created_at.asc
                    - price.desc
                    - price.asc
                    - manual
                    - sell_weight.desc
                start_date:
                  description: 群組起始日期 (YYYY-MM-DD hh:mm:ss)
                  type: string
                end_date:
                  description: 群組結束日期 (YYYY-MM-DD hh:mm:ss)
                  type: string
                price:
                  $ref: '#/components/schemas/Money'
                  description: 可使用加價購的最低訂單金額
                item_limit:
                  description: 限購數量上限
                  type: integer
            example:
              title: 範例商品
              published: false
              price: 2662
              item_limit: 7646
              products_order: price.asc
              start_date: "2026-09-01"
              end_date: "2026-09-01"
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - title
                - published
                - price
                - item_limit
              properties:
                title:
                  description: 標題
                  type: string
                published:
                  description: 是否公開
                  type: boolean
                products_order:
                  description: |-
                    群組商品的排序方式
                    「按標題拼音升序: A-Z」: title.asc
                    「按標題拼音降序: Z-A」: title.desc
                    「按創建日期: 最近-最遠」: created_at.desc
                    「按創建日期: 最遠-最近」: created_at.asc
                    「按價格排序: 最高-最低」: price.desc
                    「按價格排序: 最低-最高」: price.asc
                    「手動排序」: manual
                    「暢銷商品排序」: sell_weight.desc
                  type: string
                  enum:
                    - title.asc
                    - title.desc
                    - created_at.desc
                    - created_at.asc
                    - price.desc
                    - price.asc
                    - manual
                    - sell_weight.desc
                start_date:
                  description: 群組起始日期 (YYYY-MM-DD hh:mm:ss)
                  type: string
                end_date:
                  description: 群組結束日期 (YYYY-MM-DD hh:mm:ss)
                  type: string
                price:
                  $ref: '#/components/schemas/Money'
                  description: 可使用加價購的最低訂單金額
                item_limit:
                  description: 限購數量上限
                  type: integer
            example:
              title: 範例商品
              published: false
              price: 2662
              item_limit: 7646
              products_order: price.asc
              start_date: "2026-09-01"
              end_date: "2026-09-01"
      responses:
        "201":
          description: 建立加價購群組
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollections'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 9388
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 1368.86
                item_limit: 4731
                products:
                  - id: 1
                    title: 範例標題
                    position: 4730
                  - id: 2
                    title: 範例標題
                    position: 7025
                id: 3
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/add_buy_collections/{add_buy_collection_id}:
    get:
      tags:
        - add_buy_collections
      summary: 透過加價購群組 ID 取得該加價購群組
      description: 透過加價購群組 ID 取得該加價購群組
      operationId: getV1AddBuyCollectionsAddBuyCollectionId
      parameters:
        - name: add_buy_collection_id
          in: path
          description: 欲搜尋的加價購群組 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 透過加價購群組 ID 取得該加價購群組
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollection'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 8856
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 237.41
                item_limit: 7621
                products:
                  - id: 1
                    title: 範例標題
                    position: 3019
                  - id: 2
                    title: 範例標題
                    position: 7330
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: The resource does not exist. Note that some lookups answer `200` with a `null` body or `206` with `[]` instead of `404`.（此端點實際記錄到的訊息）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無此資源
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - add_buy_collections
      summary: 透過加價購群組 ID 更新該加價購群組
      description: 透過加價購群組 ID 更新該加價購群組
      operationId: putV1AddBuyCollectionsAddBuyCollectionId
      parameters:
        - name: add_buy_collection_id
          in: path
          description: 欲更新的加價購群組 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  description: 標題
                  type: string
                published:
                  description: 是否公開
                  type: boolean
                products_order:
                  description: |-
                    群組商品的排序方式
                    「按標題拼音升序: A-Z」: title.asc
                    「按標題拼音降序: Z-A」: title.desc
                    「按創建日期: 最近-最遠」: created_at.desc
                    「按創建日期: 最遠-最近」: created_at.asc
                    「按價格排序: 最高-最低」: price.desc
                    「按價格排序: 最低-最高」: price.asc
                    「手動排序」: manual
                    「暢銷商品排序」: sell_weight.desc
                  type: string
                  enum:
                    - title.asc
                    - title.desc
                    - created_at.desc
                    - created_at.asc
                    - price.desc
                    - price.asc
                    - manual
                    - sell_weight.desc
                start_date:
                  description: 群組起始日期 (YYYY-MM-DD hh:mm:ss)
                  type: string
                end_date:
                  description: 群組結束日期 (YYYY-MM-DD hh:mm:ss)
                  type: string
                price:
                  $ref: '#/components/schemas/Money'
                  description: 可使用加價購的最低訂單金額
                item_limit:
                  description: 限購數量上限
                  type: integer
            example:
              title: 範例商品
              published: false
              products_order: created_at.asc
              start_date: "2026-09-01"
              end_date: "2026-09-01"
              price: 9289
              item_limit: 7082
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  description: 標題
                  type: string
                published:
                  description: 是否公開
                  type: boolean
                products_order:
                  description: |-
                    群組商品的排序方式
                    「按標題拼音升序: A-Z」: title.asc
                    「按標題拼音降序: Z-A」: title.desc
                    「按創建日期: 最近-最遠」: created_at.desc
                    「按創建日期: 最遠-最近」: created_at.asc
                    「按價格排序: 最高-最低」: price.desc
                    「按價格排序: 最低-最高」: price.asc
                    「手動排序」: manual
                    「暢銷商品排序」: sell_weight.desc
                  type: string
                  enum:
                    - title.asc
                    - title.desc
                    - created_at.desc
                    - created_at.asc
                    - price.desc
                    - price.asc
                    - manual
                    - sell_weight.desc
                start_date:
                  description: 群組起始日期 (YYYY-MM-DD hh:mm:ss)
                  type: string
                end_date:
                  description: 群組結束日期 (YYYY-MM-DD hh:mm:ss)
                  type: string
                price:
                  $ref: '#/components/schemas/Money'
                  description: 可使用加價購的最低訂單金額
                item_limit:
                  description: 限購數量上限
                  type: integer
            example:
              title: 範例商品
              published: false
              products_order: created_at.asc
              start_date: "2026-09-01"
              end_date: "2026-09-01"
              price: 9289
              item_limit: 7082
      responses:
        "200":
          description: 透過加價購群組 ID 更新該加價購群組
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollection'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 8856
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 237.41
                item_limit: 7621
                products:
                  - id: 1
                    title: 範例標題
                    position: 3019
                  - id: 2
                    title: 範例標題
                    position: 7330
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - add_buy_collections
      summary: 透過加價購群組 ID 刪除該加價購群組
      description: 透過加價購群組 ID 刪除該加價購群組
      operationId: deleteV1AddBuyCollectionsAddBuyCollectionId
      parameters:
        - name: add_buy_collection_id
          in: path
          description: 欲刪除的加價購群組 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 透過加價購群組 ID 刪除該加價購群組
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollection'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 8856
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 237.41
                item_limit: 7621
                products:
                  - id: 1
                    title: 範例標題
                    position: 3019
                  - id: 2
                    title: 範例標題
                    position: 7330
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/add_buy_collections/{add_buy_collection_id}/products:
    post:
      tags:
        - add_buy_collections
      summary: 新增商品進該加價購群組
      description: 新增商品進該加價購群組
      operationId: postV1AddBuyCollectionsAddBuyCollectionIdProducts
      parameters:
        - name: add_buy_collection_id
          in: path
          description: 欲搜尋的加價購群組 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_id
                - price
              properties:
                product_id:
                  description: 產品 ID
                  type: integer
                price:
                  $ref: '#/components/schemas/Money'
                  description: 加購金額
            example:
              product_id: 3696
              price: 1835
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - product_id
                - price
              properties:
                product_id:
                  description: 產品 ID
                  type: integer
                price:
                  $ref: '#/components/schemas/Money'
                  description: 加購金額
            example:
              product_id: 3696
              price: 1835
      responses:
        "201":
          description: 新增商品進該加價購群組
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollections'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 9388
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 1368.86
                item_limit: 4731
                products:
                  - id: 1
                    title: 範例標題
                    position: 4730
                  - id: 2
                    title: 範例標題
                    position: 7025
                id: 3
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/add_buy_collections/{add_buy_collection_id}/products/manual_order:
    put:
      tags:
        - add_buy_collections
      summary: 排序該加價購群組中的商品
      description: 排序該加價購群組中的商品
      operationId: putV1AddBuyCollectionsAddBuyCollectionIdProductsManualOrder
      parameters:
        - name: add_buy_collection_id
          in: path
          description: 欲搜尋的加價購群組 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_ids
              properties:
                product_ids:
                  description: 排序後的產品 IDs (逗點區隔)
                  type: string
            example:
              product_ids: 範例
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - product_ids
              properties:
                product_ids:
                  description: 排序後的產品 IDs (逗點區隔)
                  type: string
            example:
              product_ids: 範例
      responses:
        "200":
          description: 排序該加價購群組中的商品
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollections'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 9388
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 1368.86
                item_limit: 4731
                products:
                  - id: 1
                    title: 範例標題
                    position: 4730
                  - id: 2
                    title: 範例標題
                    position: 7025
                id: 3
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/add_buy_collections/{add_buy_collection_id}/products/{product_id}:
    put:
      tags:
        - add_buy_collections
      summary: 透過產品 ID 更新該加價購群組中的商品
      description: 透過產品 ID 更新該加價購群組中的商品
      operationId: putV1AddBuyCollectionsAddBuyCollectionIdProductsProductId
      parameters:
        - name: add_buy_collection_id
          in: path
          description: 欲搜尋的加價購群組 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: product_id
          in: path
          description: 產品 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                price:
                  $ref: '#/components/schemas/Money'
                  description: 加購金額
            example:
              price: 5159
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                price:
                  $ref: '#/components/schemas/Money'
                  description: 加購金額
            example:
              price: 5159
      responses:
        "200":
          description: 透過產品 ID 更新該加價購群組中的商品
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollections'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 9388
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 1368.86
                item_limit: 4731
                products:
                  - id: 1
                    title: 範例標題
                    position: 4730
                  - id: 2
                    title: 範例標題
                    position: 7025
                id: 3
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - add_buy_collections
      summary: 透過產品 ID刪除該加價購群組中的商品
      description: 透過產品 ID刪除該加價購群組中的商品
      operationId: deleteV1AddBuyCollectionsAddBuyCollectionIdProductsProductId
      parameters:
        - name: add_buy_collection_id
          in: path
          description: 欲搜尋的加價購群組 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: product_id
          in: path
          description: 產品 ID
          required: true
          schema:
            type: string
          example: 1
      responses:
        "200":
          description: 透過產品 ID刪除該加價購群組中的商品
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollections'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 9388
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 1368.86
                item_limit: 4731
                products:
                  - id: 1
                    title: 範例標題
                    position: 4730
                  - id: 2
                    title: 範例標題
                    position: 7025
                id: 3
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/assets/pictures:
    get:
      tags:
        - assets
      summary: 取得商家 CKeditor 圖庫中的所有圖片
      description: 取得商家 CKeditor 圖庫中的所有圖片
      operationId: getV1AssetsPictures
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/offset'
      responses:
        "200":
          description: 取得商家 CKeditor 圖庫中的所有圖片
          headers:
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
            X-Offset:
              $ref: '#/components/headers/X-Offset'
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Total-Pages:
              $ref: '#/components/headers/X-Total-Pages'
            X-Next-Page:
              $ref: '#/components/headers/X-Next-Page'
            X-Prev-Page:
              $ref: '#/components/headers/X-Prev-Page'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetPictures'
              example: []
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - assets
      summary: 上傳圖片到商家的 CKeditor 圖庫中
      description: 上傳圖片到商家的 CKeditor 圖庫中
      operationId: postV1AssetsPictures
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - picture
              properties:
                picture:
                  description: 欲上傳的圖片
                  type: string
                  format: binary
            example:
              picture: 範例
      responses:
        "201":
          description: 上傳圖片到商家的 CKeditor 圖庫中
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPictures'
              example:
                id: 1
                url: //example.cyberbiz.co/media/sample-product.jpg
                url_thumb: //example.cyberbiz.co/media/sample-product.jpg
                url_content: //example.cyberbiz.co/media/sample-product.jpg
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/assets/pictures/{picture_id}:
    delete:
      tags:
        - assets
      summary: 透過圖片 ID 刪除 CKeditor 圖庫中的圖片
      description: 透過圖片 ID 刪除 CKeditor 圖庫中的圖片
      operationId: deleteV1AssetsPicturesPictureId
      parameters:
        - name: picture_id
          in: path
          description: 欲刪除的圖片 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 透過圖片 ID 刪除 CKeditor 圖庫中的圖片
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPictures'
              example:
                id: 1
                url: //example.cyberbiz.co/media/sample-product.jpg
                url_thumb: //example.cyberbiz.co/media/sample-product.jpg
                url_content: //example.cyberbiz.co/media/sample-product.jpg
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs:
    get:
      tags:
        - blogs
      summary: 取得所有部落格
      description: 取得所有部落格
      operationId: getV1Blogs
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/offset'
      responses:
        "200":
          description: 取得所有部落格
          headers:
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
            X-Offset:
              $ref: '#/components/headers/X-Offset'
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Total-Pages:
              $ref: '#/components/headers/X-Total-Pages'
            X-Next-Page:
              $ref: '#/components/headers/X-Next-Page'
            X-Prev-Page:
              $ref: '#/components/headers/X-Prev-Page'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Blogs'
              example:
                - title: 範例標題
                  handle: 範例
                  commentable: 範例
                  position: 1
                  articles_count: 1
                  created_at: "2026-09-01 10:00:00"
                  updated_at: "2026-09-01 10:00:00"
                  id: 1
        "401":
          description: The token is missing, invalid, expired, lacks the scope, or the feature is not licensed for this shop (CYBERBIZ answers 401 for both).（此端點實際記錄到的訊息）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無權使用該 API
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - blogs
      summary: 建立部落格
      description: 建立部落格
      operationId: postV1Blogs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  description: 部落格標題
                  type: string
                handle:
                  description: 部落格網址代碼
                  type: string
                commentable:
                  description: 評論設定 (no, moderate, yes)
                  type: string
                  enum:
                    - "no"
                    - moderate
                    - "yes"
            example:
              title: 範例標題
              handle: 範例
              commentable: "no"
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  description: 部落格標題
                  type: string
                handle:
                  description: 部落格網址代碼
                  type: string
                commentable:
                  description: 評論設定 (no, moderate, yes)
                  type: string
                  enum:
                    - "no"
                    - moderate
                    - "yes"
            example:
              title: 範例標題
              handle: 範例
              commentable: "no"
      responses:
        "201":
          description: 建立部落格
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blogs'
              example:
                title: 範例標題
                handle: 範例
                commentable: 範例
                position: 1
                articles_count: 1
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
                id: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}:
    get:
      tags:
        - blogs
      summary: 以 ID 取得部落格
      description: 以 ID 取得部落格
      operationId: getV1BlogsBlogId
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 以 ID 取得部落格
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blog'
              example:
                title: 範例標題
                handle: 範例
                commentable: 範例
                position: 1
                articles_count: 1
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
        "401":
          description: The token is missing, invalid, expired, lacks the scope, or the feature is not licensed for this shop (CYBERBIZ answers 401 for both).（此端點實際記錄到的訊息）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無權使用該 API
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - blogs
      summary: 以 ID 更新部落格
      description: 以 ID 更新部落格
      operationId: putV1BlogsBlogId
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  description: 部落格標題
                  type: string
                handle:
                  description: 部落格網址代碼
                  type: string
                commentable:
                  description: 評論設定 (no, moderate, yes)
                  type: string
                  enum:
                    - "no"
                    - moderate
                    - "yes"
            example:
              title: 範例標題
              handle: 範例
              commentable: "no"
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  description: 部落格標題
                  type: string
                handle:
                  description: 部落格網址代碼
                  type: string
                commentable:
                  description: 評論設定 (no, moderate, yes)
                  type: string
                  enum:
                    - "no"
                    - moderate
                    - "yes"
            example:
              title: 範例標題
              handle: 範例
              commentable: "no"
      responses:
        "200":
          description: 以 ID 更新部落格
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blog'
              example:
                title: 範例標題
                handle: 範例
                commentable: 範例
                position: 1
                articles_count: 1
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - blogs
      summary: 以 ID 刪除部落格
      description: 以 ID 刪除部落格
      operationId: deleteV1BlogsBlogId
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 以 ID 刪除部落格
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blog'
              example:
                title: 範例標題
                handle: 範例
                commentable: 範例
                position: 1
                articles_count: 1
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/articles:
    get:
      tags:
        - blogs
      summary: 取得部落格所有文章
      description: 取得部落格所有文章
      operationId: getV1BlogsBlogIdArticles
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: published
          in: query
          description: 依發佈狀態篩選
          schema:
            type: boolean
          example: true
        - name: pinned
          in: query
          description: 依置頂狀態篩選
          schema:
            type: boolean
          example: true
        - name: created_at_min
          in: query
          description: 依最早建立時間篩選
          schema:
            type: string
          example: "2026-09-01 00:00:00"
        - name: created_at_max
          in: query
          description: 依最晚建立時間篩選
          schema:
            type: string
          example: "2026-09-30 23:59:59"
        - name: tag
          in: query
          description: 依標籤名稱篩選
          schema:
            type: string
          example: VIP
        - name: title
          in: query
          description: 依文章標題搜尋
          schema:
            type: string
          example: 範例
        - name: author
          in: query
          description: 依作者名稱搜尋
          schema:
            type: string
          example: 範例廠商
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/offset'
      responses:
        "200":
          description: 取得部落格所有文章
          headers:
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
            X-Offset:
              $ref: '#/components/headers/X-Offset'
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Total-Pages:
              $ref: '#/components/headers/X-Total-Pages'
            X-Next-Page:
              $ref: '#/components/headers/X-Next-Page'
            X-Prev-Page:
              $ref: '#/components/headers/X-Prev-Page'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Articles'
              example:
                - blog_id: 1
                  title: 範例標題
                  body_html: <p>範例內容</p>
                  author: 範例
                  handle: 範例
                  published: true
                  published_at: "2026-09-01 10:00:00"
                  published_end_at: "2026-09-01 10:00:00"
                  pinned: true
                  tags:
                    - id: 1
                      name: 範例名稱
                      category: 1
                  cover_image_url: https://example.cyberbiz.co/sample
                  created_at: "2026-09-01 10:00:00"
                  updated_at: "2026-09-01 10:00:00"
                  id: 1
        "401":
          description: The token is missing, invalid, expired, lacks the scope, or the feature is not licensed for this shop (CYBERBIZ answers 401 for both).（此端點實際記錄到的訊息）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無權使用該 API
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - blogs
      summary: 在部落格中建立文章
      description: 在部落格中建立文章
      operationId: postV1BlogsBlogIdArticles
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  description: 文章標題
                  type: string
                body_html:
                  description: 文章 HTML 內容（依 app 授權，未授權時會過濾 HTML；已授權則原樣保存，請自行確保內容安全）
                  type: string
                author:
                  description: 作者名稱
                  type: string
                handle:
                  description: 文章網址代碼
                  type: string
                published:
                  description: 發佈狀態
                  type: boolean
                published_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: 發佈開始時間
                published_end_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: 發佈結束時間
                pinned:
                  description: 置頂
                  type: boolean
                tags_text:
                  description: 逗號分隔的標籤名稱
                  type: string
            example:
              title: 範例標題
              body_html: <p>範例內容</p>
              author: 範例
              handle: 範例
              published: true
              published_at: "2026-09-01 10:00:00"
              published_end_at: "2026-09-01 10:00:00"
              pinned: true
              tags_text: VIP,新客
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  description: 文章標題
                  type: string
                body_html:
                  description: 文章 HTML 內容（依 app 授權，未授權時會過濾 HTML；已授權則原樣保存，請自行確保內容安全）
                  type: string
                author:
                  description: 作者名稱
                  type: string
                handle:
                  description: 文章網址代碼
                  type: string
                published:
                  description: 發佈狀態
                  type: boolean
                published_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: 發佈開始時間
                published_end_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: 發佈結束時間
                pinned:
                  description: 置頂
                  type: boolean
                tags_text:
                  description: 逗號分隔的標籤名稱
                  type: string
            example:
              title: 範例標題
              body_html: <p>範例內容</p>
              author: 範例
              handle: 範例
              published: true
              published_at: "2026-09-01 10:00:00"
              published_end_at: "2026-09-01 10:00:00"
              pinned: true
              tags_text: VIP,新客
      responses:
        "201":
          description: 在部落格中建立文章
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Articles'
              example:
                blog_id: 1
                title: 範例標題
                body_html: <p>範例內容</p>
                author: 範例
                handle: 範例
                published: true
                published_at: "2026-09-01 10:00:00"
                published_end_at: "2026-09-01 10:00:00"
                pinned: true
                tags:
                  - id: 1
                    name: 範例名稱
                    category: 1
                cover_image_url: https://example.cyberbiz.co/sample
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
                id: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/articles/{article_id}:
    get:
      tags:
        - blogs
      summary: 以 ID 取得文章
      description: 以 ID 取得文章
      operationId: getV1BlogsBlogIdArticlesArticleId
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: 文章 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 以 ID 取得文章
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
              example:
                blog_id: 1
                title: 範例標題
                body_html: <p>範例內容</p>
                author: 範例
                handle: 範例
                published: true
                published_at: "2026-09-01 10:00:00"
                published_end_at: "2026-09-01 10:00:00"
                pinned: true
                tags:
                  - id: 1
                    name: 範例名稱
                    category: 1
                cover_image_url: https://example.cyberbiz.co/sample
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
        "401":
          description: The token is missing, invalid, expired, lacks the scope, or the feature is not licensed for this shop (CYBERBIZ answers 401 for both).（此端點實際記錄到的訊息）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無權使用該 API
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - blogs
      summary: 以 ID 更新文章
      description: 以 ID 更新文章
      operationId: putV1BlogsBlogIdArticlesArticleId
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: 文章 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  description: 文章標題
                  type: string
                body_html:
                  description: 文章 HTML 內容（依 app 授權，未授權時會過濾 HTML；已授權則原樣保存，請自行確保內容安全）
                  type: string
                author:
                  description: 作者名稱
                  type: string
                handle:
                  description: 文章網址代碼
                  type: string
                published:
                  description: 發佈狀態
                  type: boolean
                published_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: 發佈開始時間
                published_end_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: 發佈結束時間
                pinned:
                  description: 置頂
                  type: boolean
                tags_text:
                  description: 逗號分隔的標籤名稱
                  type: string
            example:
              title: 範例標題
              body_html: <p>範例內容</p>
              author: 範例
              handle: 範例
              published: true
              published_at: "2026-09-01 10:00:00"
              published_end_at: "2026-09-01 10:00:00"
              pinned: true
              tags_text: VIP,新客
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  description: 文章標題
                  type: string
                body_html:
                  description: 文章 HTML 內容（依 app 授權，未授權時會過濾 HTML；已授權則原樣保存，請自行確保內容安全）
                  type: string
                author:
                  description: 作者名稱
                  type: string
                handle:
                  description: 文章網址代碼
                  type: string
                published:
                  description: 發佈狀態
                  type: boolean
                published_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: 發佈開始時間
                published_end_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: 發佈結束時間
                pinned:
                  description: 置頂
                  type: boolean
                tags_text:
                  description: 逗號分隔的標籤名稱
                  type: string
            example:
              title: 範例標題
              body_html: <p>範例內容</p>
              author: 範例
              handle: 範例
              published: true
              published_at: "2026-09-01 10:00:00"
              published_end_at: "2026-09-01 10:00:00"
              pinned: true
              tags_text: VIP,新客
      responses:
        "200":
          description: 以 ID 更新文章
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
              example:
                blog_id: 1
                title: 範例標題
                body_html: <p>範例內容</p>
                author: 範例
                handle: 範例
                published: true
                published_at: "2026-09-01 10:00:00"
                published_end_at: "2026-09-01 10:00:00"
                pinned: true
                tags:
                  - id: 1
                    name: 範例名稱
                    category: 1
                cover_image_url: https://example.cyberbiz.co/sample
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - blogs
      summary: 以 ID 刪除文章
      description: 以 ID 刪除文章
      operationId: deleteV1BlogsBlogIdArticlesArticleId
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: 文章 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 以 ID 刪除文章
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
              example:
                blog_id: 1
                title: 範例標題
                body_html: <p>範例內容</p>
                author: 範例
                handle: 範例
                published: true
                published_at: "2026-09-01 10:00:00"
                published_end_at: "2026-09-01 10:00:00"
                pinned: true
                tags:
                  - id: 1
                    name: 範例名稱
                    category: 1
                cover_image_url: https://example.cyberbiz.co/sample
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/articles/{article_id}/cover_image:
    post:
      tags:
        - blogs
      summary: 上傳文章封面圖片
      description: 上傳文章封面圖片
      operationId: postV1BlogsBlogIdArticlesArticleIdCoverImage
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: 文章 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - cover_image
              properties:
                cover_image:
                  description: 封面圖片檔案
                  type: string
                  format: binary
            example:
              cover_image: (binary file contents)
      responses:
        "201":
          description: 上傳文章封面圖片
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - blogs
      summary: 刪除文章封面圖片
      description: 刪除文章封面圖片
      operationId: deleteV1BlogsBlogIdArticlesArticleIdCoverImage
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: 文章 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "204":
          description: 刪除文章封面圖片
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/articles/{article_id}/tags:
    get:
      tags:
        - blogs
      summary: 取得文章所有標籤
      description: 取得文章所有標籤
      operationId: getV1BlogsBlogIdArticlesArticleIdTags
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: 文章 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 取得文章所有標籤
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleArticleTags'
              example:
                - id: 1
                  name: 範例名稱
                  category: 1
        "401":
          description: The token is missing, invalid, expired, lacks the scope, or the feature is not licensed for this shop (CYBERBIZ answers 401 for both).（此端點實際記錄到的訊息）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無權使用該 API
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/articles/{article_id}/tags/add:
    put:
      tags:
        - blogs
      summary: 新增標籤到文章
      description: 新增標籤到文章
      operationId: putV1BlogsBlogIdArticlesArticleIdTagsAdd
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: 文章 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tags
              properties:
                tags:
                  description: 要新增的標籤名稱
                  type: string
            example:
              tags: 範例
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - tags
              properties:
                tags:
                  description: 要新增的標籤名稱
                  type: string
            example:
              tags: 範例
      responses:
        "200":
          description: 新增標籤到文章
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleArticleTags'
              example:
                - id: 1
                  name: 範例名稱
                  category: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/articles/{article_id}/tags/remove:
    put:
      tags:
        - blogs
      summary: 移除文章標籤
      description: 移除文章標籤
      operationId: putV1BlogsBlogIdArticlesArticleIdTagsRemove
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: 文章 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tags
              properties:
                tags:
                  description: 要移除的標籤名稱
                  type: string
            example:
              tags: 範例
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - tags
              properties:
                tags:
                  description: 要移除的標籤名稱
                  type: string
            example:
              tags: 範例
      responses:
        "200":
          description: 移除文章標籤
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleArticleTags'
              example:
                - id: 1
                  name: 範例名稱
                  category: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/seo_meta_tags:
    get:
      tags:
        - blogs
      summary: 取得部落格 SEO 標籤
      description: 取得部落格 SEO 標籤
      operationId: getV1BlogsBlogIdSeoMetaTags
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 取得部落格 SEO 標籤
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeoMetaTags'
              example:
                title: 範例標題
                description: 範例
                keywords: 範例
        "401":
          description: The token is missing, invalid, expired, lacks the scope, or the feature is not licensed for this shop (CYBERBIZ answers 401 for both).（此端點實際記錄到的訊息）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無權使用該 API
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - blogs
      summary: 更新部落格 SEO 標籤
      description: 更新部落格 SEO 標籤
      operationId: putV1BlogsBlogIdSeoMetaTags
      parameters:
        - name: blog_id
          in: path
          description: 部落格 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  description: SEO 標題
                  type: string
                description:
                  description: SEO 描述
                  type: string
                keywords:
                  description: SEO 關鍵字
                  type: string
            example:
              title: 範例標題
              description: 範例
              keywords: 範例
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  description: SEO 標題
                  type: string
                description:
                  description: SEO 描述
                  type: string
                keywords:
                  description: SEO 關鍵字
                  type: string
            example:
              title: 範例標題
              description: 範例
              keywords: 範例
      responses:
        "200":
          description: 更新部落格 SEO 標籤
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeoMetaTags'
              example:
                title: 範例標題
                description: 範例
                keywords: 範例
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/bonus_rule:
    get:
      tags:
        - bonus_rule
      summary: 取得商店會員紅利積點規則
      description: 取得商店會員紅利積點規則
      operationId: getV1BonusRule
      responses:
        "200":
          description: 取得商店會員紅利積點規則
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BonusRule'
              example:
                enabled: true
                signup_bonus: 0.0
                consumption_price: 50.0
                consumption_bonus: 1.0
                expire_day: 0
                threshold_of_total_price: 0.0
                usage_limit_type: amount
                usage_limit_value: 10.0
                conversion_bonus: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/branch_stores:
    get:
      tags:
        - branch_stores
      summary: 取得所有門市資訊
      description: 取得所有門市資訊
      operationId: getV1BranchStores
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/offset'
      responses:
        "200":
          description: 取得所有門市資訊
          headers:
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
            X-Offset:
              $ref: '#/components/headers/X-Offset'
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Total-Pages:
              $ref: '#/components/headers/X-Total-Pages'
            X-Next-Page:
              $ref: '#/components/headers/X-Next-Page'
            X-Prev-Page:
              $ref: '#/components/headers/X-Prev-Page'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BranchStores'
              example: []
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - branch_stores
      summary: 建立門市資訊
      description: 建立門市資訊
      operationId: postV1BranchStores
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostV1BranchStoresBody'
            example:
              source_id: 1
              name: 王小明
              phone: "0912345678"
              zip: "110"
              county: 台北市
              district: 信義區
              address: 台北市信義區市府路1號
              opening_hours: 範例
              payment_ids: 範例
              shipping_rates:
                - name: 範例名稱
                  min_order_subtotal: 9430
                  price: 7396
                - name: 範例名稱
                  min_order_subtotal: 1152
                  price: 9004
              source_type: 範例
              store_no: S001
              lng: 6666.9
              lat: 1059.01
      responses:
        "201":
          description: 建立門市資訊
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStores'
              example:
                store_no: S001
                name: 王小明
                phone: "0912345678"
                county: 台北市
                district: 信義區
                address: 台北市信義區市府路1號
                zip: "110"
                opening_hours: 範例
                lat: 9313.86
                lng: 8533.31
                shipping_rates:
                  - name: 範例名稱
                    min_order_subtotal: 678
                    price: 2827
                    payments:
                      - id: 1
                        name: 範例名稱
                      - id: 2
                        name: 範例名稱
                    id: 3
                  - name: 範例名稱
                    min_order_subtotal: 4091
                    price: 9631
                    payments:
                      - id: 4
                        name: 範例名稱
                      - id: 5
                        name: 範例名稱
                    id: 6
                source_type: 範例
                source_id: 7
                id: 8
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/branch_stores/payments:
    get:
      tags:
        - branch_stores
      summary: 取得門市取貨可用付款方式
      description: 取得門市取貨可用付款方式
      operationId: getV1BranchStoresPayments
      responses:
        "200":
          description: 取得門市取貨可用付款方式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BranchStoreBranchStorePayments'
              example:
                - id: 1
                  name: 範例名稱
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/branch_stores/{branch_store_id}:
    get:
      tags:
        - branch_stores
      summary: 透過門市 ID 取得門市資訊
      description: 透過門市 ID 取得門市資訊
      operationId: getV1BranchStoresBranchStoreId
      parameters:
        - name: branch_store_id
          in: path
          description: 欲搜尋的門市 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 透過門市 ID 取得門市資訊
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStore'
              example:
                - id: 1
                  name: 範例名稱
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: The resource does not exist. Note that some lookups answer `200` with a `null` body or `206` with `[]` instead of `404`.（此端點實際記錄到的訊息）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無此資源
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - branch_stores
      summary: 透過門市 ID 更新該門市資訊
      description: 透過門市 ID 更新該門市資訊
      operationId: putV1BranchStoresBranchStoreId
      parameters:
        - name: branch_store_id
          in: path
          description: 欲更新的門市 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 名稱
                  type: string
                phone:
                  description: 電話
                  type: string
                zip:
                  description: 郵遞區號
                  type: string
                county:
                  description: 縣市
                  type: string
                district:
                  description: 鄉鎮市區
                  type: string
                address:
                  description: 地址
                  type: string
                opening_hours:
                  description: 營業時間
                  type: string
                store_no:
                  description: 門市代碼
                  type: string
                lng:
                  description: 經度
                  type: number
                lat:
                  description: 緯度
                  type: number
                enabled:
                  description: 是否啟用
                  type: boolean
                payment_ids:
                  description: 允許使用的付款方式 ID (逗點區隔)
                  type: string
            example:
              name: 王小明
              phone: "0912345678"
              zip: "110"
              county: 台北市
              district: 信義區
              address: 台北市信義區市府路1號
              opening_hours: 範例
              store_no: S001
              lng: 5288.84
              lat: 1568.17
              payment_ids: 範例
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  description: 名稱
                  type: string
                phone:
                  description: 電話
                  type: string
                zip:
                  description: 郵遞區號
                  type: string
                county:
                  description: 縣市
                  type: string
                district:
                  description: 鄉鎮市區
                  type: string
                address:
                  description: 地址
                  type: string
                opening_hours:
                  description: 營業時間
                  type: string
                store_no:
                  description: 門市代碼
                  type: string
                lng:
                  description: 經度
                  type: number
                lat:
                  description: 緯度
                  type: number
                enabled:
                  description: 是否啟用
                  type: boolean
                payment_ids:
                  description: 允許使用的付款方式 ID (逗點區隔)
                  type: string
            example:
              name: 王小明
              phone: "0912345678"
              zip: "110"
              county: 台北市
              district: 信義區
              address: 台北市信義區市府路1號
              opening_hours: 範例
              store_no: S001
              lng: 5288.84
              lat: 1568.17
              payment_ids: 範例
      responses:
        "200":
          description: 透過門市 ID 更新該門市資訊
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStore'
              example:
                store_no: S001
                name: 王小明
                phone: "0912345678"
                county: 台北市
                district: 信義區
                address: 台北市信義區市府路1號
                zip: "110"
                opening_hours: 範例
                lat: 6841.9
                lng: 321.26
                shipping_rates:
                  - name: 範例名稱
                    min_order_subtotal: 9367
                    price: 283
                    payments:
                      - id: 1
                        name: 範例名稱
                      - id: 2
                        name: 範例名稱
                    id: 3
                  - name: 範例名稱
                    min_order_subtotal: 8726
                    price: 6359
                    payments:
                      - id: 4
                        name: 範例名稱
                      - id: 5
                        name: 範例名稱
                    id: 6
                source_type: 範例
                source_id: 7
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - branch_stores
      summary: 透過門市 ID 刪除該門市資訊
      description: 透過門市 ID 刪除該門市資訊
      operationId: deleteV1BranchStoresBranchStoreId
      parameters:
        - name: branch_store_id
          in: path
          description: 欲刪除的門市 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 透過門市 ID 刪除該門市資訊
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStore'
              example:
                store_no: S001
                name: 王小明
                phone: "0912345678"
                county: 台北市
                district: 信義區
                address: 台北市信義區市府路1號
                zip: "110"
                opening_hours: 範例
                lat: 6841.9
                lng: 321.26
                shipping_rates:
                  - name: 範例名稱
                    min_order_subtotal: 9367
                    price: 283
                    payments:
                      - id: 1
                        name: 範例名稱
                      - id: 2
                        name: 範例名稱
                    id: 3
                  - name: 範例名稱
                    min_order_subtotal: 8726
                    price: 6359
                    payments:
                      - id: 4
                        name: 範例名稱
                      - id: 5
                        name: 範例名稱
                    id: 6
                source_type: 範例
                source_id: 7
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/branch_stores/{branch_store_id}/express_delivery_setting:
    put:
      tags:
        - branch_stores
      summary: 開啟 / 關閉快速到貨
      description: 開啟 / 關閉快速到貨
      operationId: putV1BranchStoresBranchStoreIdExpressDeliverySetting
      parameters:
        - name: branch_store_id
          in: path
          description: 欲更新快速到貨狀態的門市 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - express_delivery_status
              properties:
                express_delivery_status:
                  description: 狀態
                  type: boolean
            example:
              express_delivery_status: true
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - express_delivery_status
              properties:
                express_delivery_status:
                  description: 狀態
                  type: boolean
            example:
              express_delivery_status: true
      responses:
        "200":
          description: 開啟 / 關閉快速到貨
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BranchStores'
              example:
                - store_no: S001
                  name: 王小明
                  phone: "0912345678"
                  county: 台北市
                  district: 信義區
                  address: 台北市信義區市府路1號
                  zip: "110"
                  opening_hours: 範例
                  lat: 7757.32
                  lng: 3280.08
                  shipping_rates:
                    - name: 範例名稱
                      min_order_subtotal: 7275
                      price: 7104
                      payments:
                        - id: 1
                          name: 範例名稱
                        - id: 2
                          name: 範例名稱
                      id: 3
                    - name: 範例名稱
                      min_order_subtotal: 611
                      price: 8944
                      payments:
                        - id: 4
                          name: 範例名稱
                        - id: 5
                          name: 範例名稱
                      id: 6
                  source_type: 範例
                  source_id: 7
                  id: 8
                - store_no: S001
                  name: 王小明
                  phone: "0912345678"
                  county: 台北市
                  district: 信義區
                  address: 台北市信義區市府路1號
                  zip: "110"
                  opening_hours: 範例
                  lat: 2827.88
                  lng: 4494.35
                  shipping_rates:
                    - name: 範例名稱
                      min_order_subtotal: 3922
                      price: 1782
                      payments:
                        - id: 9
                          name: 範例名稱
                        - id: 10
                          name: 範例名稱
                      id: 11
                    - name: 範例名稱
                      min_order_subtotal: 8979
                      price: 2794
                      payments:
                        - id: 12
                          name: 範例名稱
                        - id: 13
                          name: 範例名稱
                      id: 14
                  source_type: 範例
                  source_id: 15
                  id: 16
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/branch_stores/{branch_store_id}/prepare_delivery_config:
    get:
      tags:
        - branch_stores
      summary: 透過門市 ID 取得該門市的備貨設定
      description: 透過門市 ID 取得該門市的備貨設定
      operationId: getV1BranchStoresBranchStoreIdPrepareDeliveryConfig
      parameters:
        - name: branch_store_id
          in: path
          description: 欲搜尋備貨設定的門市 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 透過門市 ID 取得該門市的備貨設定
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStorePrepareDeliveryConfig'
              example:
                delivery_date_enabled: true
                delivery_date_required: true
                prepare_delivery_day: 1
                selectable_range: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: The resource does not exist. Note that some lookups answer `200` with a `null` body or `206` with `[]` instead of `404`.（此端點實際記錄到的訊息）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無此資源
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - branch_stores
      summary: 透過門市 ID 更新該門市的備貨設定
      description: 透過門市 ID 更新該門市的備貨設定
      operationId: putV1BranchStoresBranchStoreIdPrepareDeliveryConfig
      parameters:
        - name: branch_store_id
          in: path
          description: 欲搜尋備貨設定的門市 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                delivery_date_enabled:
                  description: 是否啟用配送日期
                  type: boolean
                delivery_date_required:
                  description: 配送日期是否必填
                  type: boolean
                prepare_delivery_day:
                  description: 備貨天數 (1-90)
                  type: integer
                selectable_range:
                  description: 可選擇的日期範圍（天數）
                  type: integer
            example:
              delivery_date_enabled: true
              delivery_date_required: true
              prepare_delivery_day: 1
              selectable_range: 1
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                delivery_date_enabled:
                  description: 是否啟用配送日期
                  type: boolean
                delivery_date_required:
                  description: 配送日期是否必填
                  type: boolean
                prepare_delivery_day:
                  description: 備貨天數 (1-90)
                  type: integer
                selectable_range:
                  description: 可選擇的日期範圍（天數）
                  type: integer
            example:
              delivery_date_enabled: true
              delivery_date_required: true
              prepare_delivery_day: 1
              selectable_range: 1
      responses:
        "200":
          description: 透過門市 ID 更新該門市的備貨設定
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStorePrepareDeliveryConfig'
              example:
                delivery_date_enabled: true
                delivery_date_required: true
                prepare_delivery_day: 1
                selectable_range: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/branch_stores/{branch_store_id}/shipping_rates:
    get:
      tags:
        - branch_stores
      summary: 透過門市 ID 取得該門市的所有門市運費設定
      description: 透過門市 ID 取得該門市的所有門市運費設定
      operationId: getV1BranchStoresBranchStoreIdShippingRates
      parameters:
        - name: branch_store_id
          in: path
          description: 欲搜尋門市運費設定的門市 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 透過門市 ID 取得該門市的所有門市運費設定
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BranchStoreBranchStoreShippingRates'
              example:
                - name: 範例名稱
                  min_order_subtotal: 7327
                  price: 3063
                  payments:
                    - id: 1
                      name: 範例名稱
                    - id: 2
                      name: 範例名稱
                  id: 3
                - name: 範例名稱
                  min_order_subtotal: 2176
                  price: 5906
                  payments:
                    - id: 4
                      name: 範例名稱
                    - id: 5
                      name: 範例名稱
                  id: 6
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: The resource does not exist. Note that some lookups answer `200` with a `null` body or `206` with `[]` instead of `404`.（此端點實際記錄到的訊息）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無此資源
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - branch_stores
      summary: 透過門市 ID 建立該門市的門市運費設定
      description: 透過門市 ID 建立該門市的門市運費設定
      operationId: postV1BranchStoresBranchStoreIdShippingRates
      parameters:
        - name: branch_store_id
          in: path
          description: 欲搜尋門市運費設定的門市 ID
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - min_order_subtotal
                - price
              properties:
                name:
                  description: 快遞/物流名稱
                  type: string
                min_order_subtotal:
                  $ref: '#/components/schemas/Money'
                  description: 消費金額
                price:
                  $ref: '#/components/schemas/Money'
                  description: 運費
            example:
              name: 範例名稱
              min_order_subtotal: 9706
              price: 9170
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - name
                - min_order_subtotal
                - price
              properties:
                name:
                  description: 快遞/物流名稱
                  type: string
                min_order_subtotal:
                  $ref: '#/components/schemas/Money'
                  description: 消費金額
                price:
                  $ref: '#/components/schemas/Money'
                  description: 運費
            example:
              name: 範例名稱
              min_order_subtotal: 9706
              price: 9170
      responses:
        "201":
          description: 透過門市 ID 建立該門市的門市運費設定
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStoreBranchStoreShippingRates'
              example:
                name: 範例名稱
                min_order_subtotal: 8366
                price: 2009
                payments:
                  - id: 1
                    name: 範例名稱
                  - id: 2
                    name: 範例名稱
                id: 3
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/branch_stores/{branch_store_id}/shipping_rates/{shipping_rate_id}:
    get:
      tags:
        - branch_stores
      summary: 透過門市 ID 與門市運費設定 ID 取得門市運費設定
      description: 透過門市 ID 與門市運費設定 ID 取得門市運費設定
      operationId: getV1BranchStoresBranchStoreIdShippingRatesShippingRateId
      parameters:
        - name: branch_store_id
          in: path
          description: 欲搜尋門市運費設定的門市 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: shipping_rate_id
          in: path
          description: 欲搜尋的門市運費設定 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 透過門市 ID 與門市運費設定 ID 取得門市運費設定
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStoreBranchStoreShippingRate'
              example:
                name: 範例名稱
                min_order_subtotal: 1918
                price: 9893
                payments:
                  - id: 1
                    name: 範例名稱
                  - id: 2
                    name: 範例名稱
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: The resource does not exist. Note that some lookups answer `200` with a `null` body or `206` with `[]` instead of `404`.（此端點實際記錄到的訊息）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無此資源
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - branch_stores
      summary: 透過門市 ID 與門市運費設定 ID 更新門市運費設定
      description: 透過門市 ID 與門市運費設定 ID 更新門市運費設定
      operationId: putV1BranchStoresBranchStoreIdShippingRatesShippingRateId
      parameters:
        - name: branch_store_id
          in: path
          description: 欲搜尋門市運費設定的門市 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: shipping_rate_id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: 快遞/物流名稱
                  type: string
                min_order_subtotal:
                  $ref: '#/components/schemas/Money'
                  description: 消費金額
                price:
                  $ref: '#/components/schemas/Money'
                  description: 運費
            example:
              name: 範例名稱
              min_order_subtotal: 3428
              price: 4491
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  description: 快遞/物流名稱
                  type: string
                min_order_subtotal:
                  $ref: '#/components/schemas/Money'
                  description: 消費金額
                price:
                  $ref: '#/components/schemas/Money'
                  description: 運費
            example:
              name: 範例名稱
              min_order_subtotal: 3428
              price: 4491
      responses:
        "200":
          description: 透過門市 ID 與門市運費設定 ID 更新門市運費設定
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStoreBranchStoreShippingRate'
              example:
                name: 範例名稱
                min_order_subtotal: 1918
                price: 9893
                payments:
                  - id: 1
                    name: 範例名稱
                  - id: 2
                    name: 範例名稱
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - branch_stores
      summary: 透過門市 ID 與門市運費設定 ID 刪除門市運費設定
      description: 透過門市 ID 與門市運費設定 ID 刪除門市運費設定
      operationId: deleteV1BranchStoresBranchStoreIdShippingRatesShippingRateId
      parameters:
        - name: branch_store_id
          in: path
          description: 欲搜尋門市運費設定的門市 ID
          required: true
          schema:
            type: integer
          example: 1
        - name: shipping_rate_id
          in: path
          description: 欲刪除的門市運費設定 ID
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: 透過門市 ID 與門市運費設定 ID 刪除門市運費設定
          content:
            application/json:
[...]
