openapi: 3.1.0
info:
  title: CYBERBIZ API v1
  version: 1.0.1
  description: |-
    # CYBERBIZ API v1

    Every `/v1` operation of the CYBERBIZ e-commerce platform, generated from the official
    Swagger 2.0 definition and corrected against recorded live responses (Golden Files).
    Where the two disagree the recorded behaviour wins; see the `x-cyberbiz-observed` marker on
    fields the swagger does not document.

    ## Conventions

    - **Base URL**: `https://app-store-api.cyberbiz.io` for every shop and every API version. Versions are path prefixes (`/v1`, `/v2`); the app endpoints `/shop` and `/settings` have no prefix.
    - **Authentication**: `Authorization: Bearer <API Token>` on every request. The token is a JWT issued to the app for one Shop and carries its scopes (`read_orders`, `write_products`, ...). `read_*` scopes grant the GET operations of a resource group; `write_*` scopes grant POST/PUT/DELETE.
    - **Rate limit**: at most 5 requests per second per token. Expect `429` beyond that.
    - **Pagination**: list endpoints take `page` (1-based), `per_page` (default and maximum 50) and `offset`; the returned slice starts at record `offset + (page - 1) * per_page + 1`. The response carries `X-Page`, `X-Per-Page`, `X-Offset`, `X-Total`, `X-Total-Pages`, `X-Next-Page` and `X-Prev-Page`.
    - **Timestamps** are local Asia/Taipei strings `YYYY-MM-DD HH:MM:SS` without a zone (schema `Timestamp`); dates are `YYYY-MM-DD` (schema `Date`).
    - **Money** fields are JSON numbers (floats such as `9999.0`) even where the swagger says integer (schema `Money`).
    - **Nullability**: no field is guaranteed non-null. Fields observed as `null` in live responses are marked nullable; treat any other field as possibly null too.
    - **Request bodies** are sent as JSON. The original swagger documents most writes as form data; the platform accepts `application/json`.
    - **Errors** use one of `{"error": ["..."]}`, `{"error": "..."}`, `{"message": "..."}`, `{"messages": "..."}`. `401` means the token is invalid **or** the feature is not licensed for the shop. Some lookups answer `200` with a bare `null` or `206` with `[]` when nothing matches.
    - **Samples** in this document are synthetic: their shape comes from recorded responses, their values are fake.

    ## Release Notes

    ### 1.0.1 (2026-10-02)

    - Postman collection descriptions no longer point to repository-internal files.

    ### 1.0.0 (2026-09-08)

    - Initial generation from the CYBERBIZ v1 swagger, the v1/v2 Postman collections, the Notion v2 reference and the webhook reference.
    - Observed corrections applied: nullable fields, money as float, order_number as integer, arrays documented as objects, fields missing from the swagger, Bearer authentication.
    - Synthetic samples derived from the Golden Files for every operation and event.
servers:
  - url: https://app-store-api.cyberbiz.io
    description: Production (the same host for every shop and every API version).
security:
  - bearerAuth: []
tags:
  - name: assets
    description: CKEditor image library (pictures used in rich-text content).
  - name: customers
    description: 'Customers: profile, tags, custom fields, bonus points, coupons, orders, VIP information.'
  - name: orders
    description: 'Orders: listing, detail, status transitions, fulfillments, transactions, tags and notes.'
  - name: order_returns
    description: Order returns.
  - name: products
    description: Products, variants, options, photos, descriptions, tags and bind-shipping settings.
  - name: smart_collections
    description: Smart (rule-based) collections and their rules.
  - name: custom_collections
    description: Custom (manually curated) collections and their products.
  - name: special_collections
    description: Special collections (mix-and-match discount campaigns) and their rules.
  - name: add_buy_collections
    description: Add-on purchase (add-buy) collections.
  - name: vip_collections
    description: VIP settings (legacy VIP collections).
  - name: vip_groups
    description: VIP groups and levels (the newer VIP model).
  - name: shop_coupons
    description: Shop-wide coupons.
  - name: pos_shop_coupons
    description: POS shop coupons (requires the pos_shop_coupon plugin).
  - name: discounts
    description: Shop-wide discount campaigns.
  - name: einvoices
    description: Electronic invoices (e-invoices) of orders.
  - name: offline_einvoices
    description: Offline (manually issued) e-invoices.
  - name: custom_field_types
    description: Customer custom-field type definitions.
  - name: pos_shops
    description: POS shops, POS terminals and their products (POS only).
  - name: stock_invoices
    description: Stock invoices / outbound stock documents (POS only).
  - name: stock_receipts
    description: Stock receipts / inbound stock documents (POS only).
  - name: stock_requisitions
    description: Stock requisitions / transfers between warehouses (POS only).
  - name: stock_adjustments
    description: Stock adjustments (POS only).
  - name: branch_stores
    description: 'Branch stores: pickup stores, shipping rates, staff users, express-delivery settings.'
  - name: inventory_sync_groups
    description: Inventory sync groups (paid add-on; contact your CYBERBIZ consultant to enable).
  - name: order_etickets
    description: Electronic tickets (e-tickets) attached to orders.
  - name: periodic_orders
    description: Periodic (subscription) orders.
  - name: bonus_rule
    description: Bonus point earning rules.
  - name: limit_collections
    description: Purchase-limit collections.
  - name: variant_discount_collections
    description: Per-variant discount collections.
  - name: custom_fields
    description: Custom fields (newer model).
  - name: blogs
    description: Blogs, articles, article tags and SEO meta tags.
paths:
  /v1/add_buy_collections:
    get:
      tags:
        - add_buy_collections
      summary: List all add-buy collections.
      description: List all add-buy collections.
      operationId: getV1AddBuyCollections
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/offset'
      responses:
        "200":
          description: List all add-buy collections.
          headers:
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
            X-Offset:
              $ref: '#/components/headers/X-Offset'
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Total-Pages:
              $ref: '#/components/headers/X-Total-Pages'
            X-Next-Page:
              $ref: '#/components/headers/X-Next-Page'
            X-Prev-Page:
              $ref: '#/components/headers/X-Prev-Page'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddBuyCollections'
              example: []
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - add_buy_collections
      summary: Create an add-buy collection.
      description: Create an add-buy collection.
      operationId: postV1AddBuyCollections
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - published
                - price
                - item_limit
              properties:
                title:
                  description: Title.
                  type: string
                published:
                  description: Whether it is published.
                  type: boolean
                products_order:
                  description: |-
                    Ordering of the products in the collection.
                    title.asc: title A-Z
                    title.desc: title Z-A
                    created_at.desc: newest first
                    created_at.asc: oldest first
                    price.desc: price, high to low
                    price.asc: price, low to high
                    manual: manual ordering
                    sell_weight.desc: best sellers first
                  type: string
                  enum:
                    - title.asc
                    - title.desc
                    - created_at.desc
                    - created_at.asc
                    - price.desc
                    - price.asc
                    - manual
                    - sell_weight.desc
                start_date:
                  description: Collection start date (YYYY-MM-DD hh:mm:ss).
                  type: string
                end_date:
                  description: Collection end date (YYYY-MM-DD hh:mm:ss).
                  type: string
                price:
                  $ref: '#/components/schemas/Money'
                  description: Minimum order amount for add-on purchases.
                item_limit:
                  description: Maximum purchase quantity.
                  type: integer
            example:
              title: 範例商品
              published: false
              price: 2662
              item_limit: 7646
              products_order: price.asc
              start_date: "2026-09-01"
              end_date: "2026-09-01"
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - title
                - published
                - price
                - item_limit
              properties:
                title:
                  description: Title.
                  type: string
                published:
                  description: Whether it is published.
                  type: boolean
                products_order:
                  description: |-
                    Ordering of the products in the collection.
                    title.asc: title A-Z
                    title.desc: title Z-A
                    created_at.desc: newest first
                    created_at.asc: oldest first
                    price.desc: price, high to low
                    price.asc: price, low to high
                    manual: manual ordering
                    sell_weight.desc: best sellers first
                  type: string
                  enum:
                    - title.asc
                    - title.desc
                    - created_at.desc
                    - created_at.asc
                    - price.desc
                    - price.asc
                    - manual
                    - sell_weight.desc
                start_date:
                  description: Collection start date (YYYY-MM-DD hh:mm:ss).
                  type: string
                end_date:
                  description: Collection end date (YYYY-MM-DD hh:mm:ss).
                  type: string
                price:
                  $ref: '#/components/schemas/Money'
                  description: Minimum order amount for add-on purchases.
                item_limit:
                  description: Maximum purchase quantity.
                  type: integer
            example:
              title: 範例商品
              published: false
              price: 2662
              item_limit: 7646
              products_order: price.asc
              start_date: "2026-09-01"
              end_date: "2026-09-01"
      responses:
        "201":
          description: Create an add-buy collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollections'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 9388
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 1368.86
                item_limit: 4731
                products:
                  - id: 1
                    title: 範例標題
                    position: 4730
                  - id: 2
                    title: 範例標題
                    position: 7025
                id: 3
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/add_buy_collections/{add_buy_collection_id}:
    get:
      tags:
        - add_buy_collections
      summary: Get an add-buy collection by ID.
      description: Get an add-buy collection by ID.
      operationId: getV1AddBuyCollectionsAddBuyCollectionId
      parameters:
        - name: add_buy_collection_id
          in: path
          description: Add-buy collection ID to look up.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Get an add-buy collection by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollection'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 8856
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 237.41
                item_limit: 7621
                products:
                  - id: 1
                    title: 範例標題
                    position: 3019
                  - id: 2
                    title: 範例標題
                    position: 7330
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: The resource does not exist. Note that some lookups answer `200` with a `null` body or `206` with `[]` instead of `404`. (message recorded for this endpoint)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無此資源
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - add_buy_collections
      summary: Update an add-buy collection by ID.
      description: Update an add-buy collection by ID.
      operationId: putV1AddBuyCollectionsAddBuyCollectionId
      parameters:
        - name: add_buy_collection_id
          in: path
          description: Add-buy collection ID to update.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  description: Title.
                  type: string
                published:
                  description: Whether it is published.
                  type: boolean
                products_order:
                  description: |-
                    Ordering of the products in the collection.
                    title.asc: title A-Z
                    title.desc: title Z-A
                    created_at.desc: newest first
                    created_at.asc: oldest first
                    price.desc: price, high to low
                    price.asc: price, low to high
                    manual: manual ordering
                    sell_weight.desc: best sellers first
                  type: string
                  enum:
                    - title.asc
                    - title.desc
                    - created_at.desc
                    - created_at.asc
                    - price.desc
                    - price.asc
                    - manual
                    - sell_weight.desc
                start_date:
                  description: Collection start date (YYYY-MM-DD hh:mm:ss).
                  type: string
                end_date:
                  description: Collection end date (YYYY-MM-DD hh:mm:ss).
                  type: string
                price:
                  $ref: '#/components/schemas/Money'
                  description: Minimum order amount for add-on purchases.
                item_limit:
                  description: Maximum purchase quantity.
                  type: integer
            example:
              title: 範例商品
              published: false
              products_order: created_at.asc
              start_date: "2026-09-01"
              end_date: "2026-09-01"
              price: 9289
              item_limit: 7082
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  description: Title.
                  type: string
                published:
                  description: Whether it is published.
                  type: boolean
                products_order:
                  description: |-
                    Ordering of the products in the collection.
                    title.asc: title A-Z
                    title.desc: title Z-A
                    created_at.desc: newest first
                    created_at.asc: oldest first
                    price.desc: price, high to low
                    price.asc: price, low to high
                    manual: manual ordering
                    sell_weight.desc: best sellers first
                  type: string
                  enum:
                    - title.asc
                    - title.desc
                    - created_at.desc
                    - created_at.asc
                    - price.desc
                    - price.asc
                    - manual
                    - sell_weight.desc
                start_date:
                  description: Collection start date (YYYY-MM-DD hh:mm:ss).
                  type: string
                end_date:
                  description: Collection end date (YYYY-MM-DD hh:mm:ss).
                  type: string
                price:
                  $ref: '#/components/schemas/Money'
                  description: Minimum order amount for add-on purchases.
                item_limit:
                  description: Maximum purchase quantity.
                  type: integer
            example:
              title: 範例商品
              published: false
              products_order: created_at.asc
              start_date: "2026-09-01"
              end_date: "2026-09-01"
              price: 9289
              item_limit: 7082
      responses:
        "200":
          description: Update an add-buy collection by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollection'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 8856
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 237.41
                item_limit: 7621
                products:
                  - id: 1
                    title: 範例標題
                    position: 3019
                  - id: 2
                    title: 範例標題
                    position: 7330
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - add_buy_collections
      summary: Delete an add-buy collection by ID.
      description: Delete an add-buy collection by ID.
      operationId: deleteV1AddBuyCollectionsAddBuyCollectionId
      parameters:
        - name: add_buy_collection_id
          in: path
          description: Add-buy collection ID to delete.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Delete an add-buy collection by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollection'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 8856
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 237.41
                item_limit: 7621
                products:
                  - id: 1
                    title: 範例標題
                    position: 3019
                  - id: 2
                    title: 範例標題
                    position: 7330
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/add_buy_collections/{add_buy_collection_id}/products:
    post:
      tags:
        - add_buy_collections
      summary: Add products to an add-buy collection.
      description: Add products to an add-buy collection.
      operationId: postV1AddBuyCollectionsAddBuyCollectionIdProducts
      parameters:
        - name: add_buy_collection_id
          in: path
          description: Add-buy collection ID to look up.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_id
                - price
              properties:
                product_id:
                  description: Product ID.
                  type: integer
                price:
                  $ref: '#/components/schemas/Money'
                  description: Add-on purchase price.
            example:
              product_id: 3696
              price: 1835
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - product_id
                - price
              properties:
                product_id:
                  description: Product ID.
                  type: integer
                price:
                  $ref: '#/components/schemas/Money'
                  description: Add-on purchase price.
            example:
              product_id: 3696
              price: 1835
      responses:
        "201":
          description: Add products to an add-buy collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollections'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 9388
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 1368.86
                item_limit: 4731
                products:
                  - id: 1
                    title: 範例標題
                    position: 4730
                  - id: 2
                    title: 範例標題
                    position: 7025
                id: 3
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/add_buy_collections/{add_buy_collection_id}/products/manual_order:
    put:
      tags:
        - add_buy_collections
      summary: Reorder the products of an add-buy collection.
      description: Reorder the products of an add-buy collection.
      operationId: putV1AddBuyCollectionsAddBuyCollectionIdProductsManualOrder
      parameters:
        - name: add_buy_collection_id
          in: path
          description: Add-buy collection ID to look up.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_ids
              properties:
                product_ids:
                  description: Product IDs in the desired order, comma-separated.
                  type: string
            example:
              product_ids: 範例
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - product_ids
              properties:
                product_ids:
                  description: Product IDs in the desired order, comma-separated.
                  type: string
            example:
              product_ids: 範例
      responses:
        "200":
          description: Reorder the products of an add-buy collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollections'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 9388
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 1368.86
                item_limit: 4731
                products:
                  - id: 1
                    title: 範例標題
                    position: 4730
                  - id: 2
                    title: 範例標題
                    position: 7025
                id: 3
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/add_buy_collections/{add_buy_collection_id}/products/{product_id}:
    put:
      tags:
        - add_buy_collections
      summary: Update a product of an add-buy collection by product ID.
      description: Update a product of an add-buy collection by product ID.
      operationId: putV1AddBuyCollectionsAddBuyCollectionIdProductsProductId
      parameters:
        - name: add_buy_collection_id
          in: path
          description: Add-buy collection ID to look up.
          required: true
          schema:
            type: integer
          example: 1
        - name: product_id
          in: path
          description: Product ID.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                price:
                  $ref: '#/components/schemas/Money'
                  description: Add-on purchase price.
            example:
              price: 5159
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                price:
                  $ref: '#/components/schemas/Money'
                  description: Add-on purchase price.
            example:
              price: 5159
      responses:
        "200":
          description: Update a product of an add-buy collection by product ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollections'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 9388
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 1368.86
                item_limit: 4731
                products:
                  - id: 1
                    title: 範例標題
                    position: 4730
                  - id: 2
                    title: 範例標題
                    position: 7025
                id: 3
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - add_buy_collections
      summary: Remove a product from an add-buy collection by product ID.
      description: Remove a product from an add-buy collection by product ID.
      operationId: deleteV1AddBuyCollectionsAddBuyCollectionIdProductsProductId
      parameters:
        - name: add_buy_collection_id
          in: path
          description: Add-buy collection ID to look up.
          required: true
          schema:
            type: integer
          example: 1
        - name: product_id
          in: path
          description: Product ID.
          required: true
          schema:
            type: string
          example: 1
      responses:
        "200":
          description: Remove a product from an add-buy collection by product ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBuyCollections'
              example:
                title: 範例商品
                handle: 範例
                published: false
                products_order_name: 範例
                position: 9388
                start_date: "2026-09-01 10:00:00"
                end_date: "2026-09-01 10:00:00"
                price: 1368.86
                item_limit: 4731
                products:
                  - id: 1
                    title: 範例標題
                    position: 4730
                  - id: 2
                    title: 範例標題
                    position: 7025
                id: 3
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/assets/pictures:
    get:
      tags:
        - assets
      summary: List the pictures in the shop's CKEditor library.
      description: List the pictures in the shop's CKEditor library.
      operationId: getV1AssetsPictures
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/offset'
      responses:
        "200":
          description: List the pictures in the shop's CKEditor library.
          headers:
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
            X-Offset:
              $ref: '#/components/headers/X-Offset'
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Total-Pages:
              $ref: '#/components/headers/X-Total-Pages'
            X-Next-Page:
              $ref: '#/components/headers/X-Next-Page'
            X-Prev-Page:
              $ref: '#/components/headers/X-Prev-Page'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetPictures'
              example: []
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - assets
      summary: Upload a picture to the shop's CKEditor library.
      description: Upload a picture to the shop's CKEditor library.
      operationId: postV1AssetsPictures
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - picture
              properties:
                picture:
                  description: Picture to upload.
                  type: string
                  format: binary
            example:
              picture: 範例
      responses:
        "201":
          description: Upload a picture to the shop's CKEditor library.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPictures'
              example:
                id: 1
                url: //example.cyberbiz.co/media/sample-product.jpg
                url_thumb: //example.cyberbiz.co/media/sample-product.jpg
                url_content: //example.cyberbiz.co/media/sample-product.jpg
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/assets/pictures/{picture_id}:
    delete:
      tags:
        - assets
      summary: Delete a picture from the CKEditor library by ID.
      description: Delete a picture from the CKEditor library by ID.
      operationId: deleteV1AssetsPicturesPictureId
      parameters:
        - name: picture_id
          in: path
          description: Picture ID to delete.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Delete a picture from the CKEditor library by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetPictures'
              example:
                id: 1
                url: //example.cyberbiz.co/media/sample-product.jpg
                url_thumb: //example.cyberbiz.co/media/sample-product.jpg
                url_content: //example.cyberbiz.co/media/sample-product.jpg
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs:
    get:
      tags:
        - blogs
      summary: List all blogs.
      description: List all blogs.
      operationId: getV1Blogs
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/offset'
      responses:
        "200":
          description: List all blogs.
          headers:
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
            X-Offset:
              $ref: '#/components/headers/X-Offset'
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Total-Pages:
              $ref: '#/components/headers/X-Total-Pages'
            X-Next-Page:
              $ref: '#/components/headers/X-Next-Page'
            X-Prev-Page:
              $ref: '#/components/headers/X-Prev-Page'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Blogs'
              example:
                - title: 範例標題
                  handle: 範例
                  commentable: 範例
                  position: 1
                  articles_count: 1
                  created_at: "2026-09-01 10:00:00"
                  updated_at: "2026-09-01 10:00:00"
                  id: 1
        "401":
          description: The token is missing, invalid, expired, lacks the scope, or the feature is not licensed for this shop (CYBERBIZ answers 401 for both). (message recorded for this endpoint)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無權使用該 API
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - blogs
      summary: Create a blog.
      description: Create a blog.
      operationId: postV1Blogs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  description: Blog title.
                  type: string
                handle:
                  description: Blog handle.
                  type: string
                commentable:
                  description: Review setting (no, moderate, yes).
                  type: string
                  enum:
                    - "no"
                    - moderate
                    - "yes"
            example:
              title: 範例標題
              handle: 範例
              commentable: "no"
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  description: Blog title.
                  type: string
                handle:
                  description: Blog handle.
                  type: string
                commentable:
                  description: Review setting (no, moderate, yes).
                  type: string
                  enum:
                    - "no"
                    - moderate
                    - "yes"
            example:
              title: 範例標題
              handle: 範例
              commentable: "no"
      responses:
        "201":
          description: Create a blog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blogs'
              example:
                title: 範例標題
                handle: 範例
                commentable: 範例
                position: 1
                articles_count: 1
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
                id: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}:
    get:
      tags:
        - blogs
      summary: Get a blog by ID.
      description: Get a blog by ID.
      operationId: getV1BlogsBlogId
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Get a blog by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blog'
              example:
                title: 範例標題
                handle: 範例
                commentable: 範例
                position: 1
                articles_count: 1
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
        "401":
          description: The token is missing, invalid, expired, lacks the scope, or the feature is not licensed for this shop (CYBERBIZ answers 401 for both). (message recorded for this endpoint)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無權使用該 API
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - blogs
      summary: Update a blog by ID.
      description: Update a blog by ID.
      operationId: putV1BlogsBlogId
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  description: Blog title.
                  type: string
                handle:
                  description: Blog handle.
                  type: string
                commentable:
                  description: Review setting (no, moderate, yes).
                  type: string
                  enum:
                    - "no"
                    - moderate
                    - "yes"
            example:
              title: 範例標題
              handle: 範例
              commentable: "no"
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  description: Blog title.
                  type: string
                handle:
                  description: Blog handle.
                  type: string
                commentable:
                  description: Review setting (no, moderate, yes).
                  type: string
                  enum:
                    - "no"
                    - moderate
                    - "yes"
            example:
              title: 範例標題
              handle: 範例
              commentable: "no"
      responses:
        "200":
          description: Update a blog by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blog'
              example:
                title: 範例標題
                handle: 範例
                commentable: 範例
                position: 1
                articles_count: 1
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - blogs
      summary: Delete a blog by ID.
      description: Delete a blog by ID.
      operationId: deleteV1BlogsBlogId
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Delete a blog by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blog'
              example:
                title: 範例標題
                handle: 範例
                commentable: 範例
                position: 1
                articles_count: 1
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/articles:
    get:
      tags:
        - blogs
      summary: List the articles of a blog.
      description: List the articles of a blog.
      operationId: getV1BlogsBlogIdArticles
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
        - name: published
          in: query
          description: Filter by publication status.
          schema:
            type: boolean
          example: true
        - name: pinned
          in: query
          description: Filter by pinned status.
          schema:
            type: boolean
          example: true
        - name: created_at_min
          in: query
          description: Filter by earliest creation time.
          schema:
            type: string
          example: "2026-09-01 00:00:00"
        - name: created_at_max
          in: query
          description: Filter by latest creation time.
          schema:
            type: string
          example: "2026-09-30 23:59:59"
        - name: tag
          in: query
          description: Filter by tag name.
          schema:
            type: string
          example: VIP
        - name: title
          in: query
          description: Filter by article title.
          schema:
            type: string
          example: 範例
        - name: author
          in: query
          description: Filter by author name.
          schema:
            type: string
          example: 範例廠商
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/offset'
      responses:
        "200":
          description: List the articles of a blog.
          headers:
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
            X-Offset:
              $ref: '#/components/headers/X-Offset'
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Total-Pages:
              $ref: '#/components/headers/X-Total-Pages'
            X-Next-Page:
              $ref: '#/components/headers/X-Next-Page'
            X-Prev-Page:
              $ref: '#/components/headers/X-Prev-Page'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Articles'
              example:
                - blog_id: 1
                  title: 範例標題
                  body_html: <p>範例內容</p>
                  author: 範例
                  handle: 範例
                  published: true
                  published_at: "2026-09-01 10:00:00"
                  published_end_at: "2026-09-01 10:00:00"
                  pinned: true
                  tags:
                    - id: 1
                      name: 範例名稱
                      category: 1
                  cover_image_url: https://example.cyberbiz.co/sample
                  created_at: "2026-09-01 10:00:00"
                  updated_at: "2026-09-01 10:00:00"
                  id: 1
        "401":
          description: The token is missing, invalid, expired, lacks the scope, or the feature is not licensed for this shop (CYBERBIZ answers 401 for both). (message recorded for this endpoint)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無權使用該 API
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - blogs
      summary: Create an article in a blog.
      description: Create an article in a blog.
      operationId: postV1BlogsBlogIdArticles
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  description: Article title.
                  type: string
                body_html:
                  description: Article HTML content (filtered unless the app is authorised for raw HTML; authorised apps must sanitise the content themselves).
                  type: string
                author:
                  description: Author name.
                  type: string
                handle:
                  description: Article handle.
                  type: string
                published:
                  description: Publication status.
                  type: boolean
                published_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: Publication start time.
                published_end_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: Publication end time.
                pinned:
                  description: Pinned.
                  type: boolean
                tags_text:
                  description: Tag names, comma-separated.
                  type: string
            example:
              title: 範例標題
              body_html: <p>範例內容</p>
              author: 範例
              handle: 範例
              published: true
              published_at: "2026-09-01 10:00:00"
              published_end_at: "2026-09-01 10:00:00"
              pinned: true
              tags_text: VIP,新客
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  description: Article title.
                  type: string
                body_html:
                  description: Article HTML content (filtered unless the app is authorised for raw HTML; authorised apps must sanitise the content themselves).
                  type: string
                author:
                  description: Author name.
                  type: string
                handle:
                  description: Article handle.
                  type: string
                published:
                  description: Publication status.
                  type: boolean
                published_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: Publication start time.
                published_end_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: Publication end time.
                pinned:
                  description: Pinned.
                  type: boolean
                tags_text:
                  description: Tag names, comma-separated.
                  type: string
            example:
              title: 範例標題
              body_html: <p>範例內容</p>
              author: 範例
              handle: 範例
              published: true
              published_at: "2026-09-01 10:00:00"
              published_end_at: "2026-09-01 10:00:00"
              pinned: true
              tags_text: VIP,新客
      responses:
        "201":
          description: Create an article in a blog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Articles'
              example:
                blog_id: 1
                title: 範例標題
                body_html: <p>範例內容</p>
                author: 範例
                handle: 範例
                published: true
                published_at: "2026-09-01 10:00:00"
                published_end_at: "2026-09-01 10:00:00"
                pinned: true
                tags:
                  - id: 1
                    name: 範例名稱
                    category: 1
                cover_image_url: https://example.cyberbiz.co/sample
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
                id: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/articles/{article_id}:
    get:
      tags:
        - blogs
      summary: Get an article by ID.
      description: Get an article by ID.
      operationId: getV1BlogsBlogIdArticlesArticleId
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: Article ID.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Get an article by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
              example:
                blog_id: 1
                title: 範例標題
                body_html: <p>範例內容</p>
                author: 範例
                handle: 範例
                published: true
                published_at: "2026-09-01 10:00:00"
                published_end_at: "2026-09-01 10:00:00"
                pinned: true
                tags:
                  - id: 1
                    name: 範例名稱
                    category: 1
                cover_image_url: https://example.cyberbiz.co/sample
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
        "401":
          description: The token is missing, invalid, expired, lacks the scope, or the feature is not licensed for this shop (CYBERBIZ answers 401 for both). (message recorded for this endpoint)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無權使用該 API
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - blogs
      summary: Update an article by ID.
      description: Update an article by ID.
      operationId: putV1BlogsBlogIdArticlesArticleId
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: Article ID.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  description: Article title.
                  type: string
                body_html:
                  description: Article HTML content (filtered unless the app is authorised for raw HTML; authorised apps must sanitise the content themselves).
                  type: string
                author:
                  description: Author name.
                  type: string
                handle:
                  description: Article handle.
                  type: string
                published:
                  description: Publication status.
                  type: boolean
                published_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: Publication start time.
                published_end_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: Publication end time.
                pinned:
                  description: Pinned.
                  type: boolean
                tags_text:
                  description: Tag names, comma-separated.
                  type: string
            example:
              title: 範例標題
              body_html: <p>範例內容</p>
              author: 範例
              handle: 範例
              published: true
              published_at: "2026-09-01 10:00:00"
              published_end_at: "2026-09-01 10:00:00"
              pinned: true
              tags_text: VIP,新客
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  description: Article title.
                  type: string
                body_html:
                  description: Article HTML content (filtered unless the app is authorised for raw HTML; authorised apps must sanitise the content themselves).
                  type: string
                author:
                  description: Author name.
                  type: string
                handle:
                  description: Article handle.
                  type: string
                published:
                  description: Publication status.
                  type: boolean
                published_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: Publication start time.
                published_end_at:
                  $ref: '#/components/schemas/Timestamp'
                  description: Publication end time.
                pinned:
                  description: Pinned.
                  type: boolean
                tags_text:
                  description: Tag names, comma-separated.
                  type: string
            example:
              title: 範例標題
              body_html: <p>範例內容</p>
              author: 範例
              handle: 範例
              published: true
              published_at: "2026-09-01 10:00:00"
              published_end_at: "2026-09-01 10:00:00"
              pinned: true
              tags_text: VIP,新客
      responses:
        "200":
          description: Update an article by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
              example:
                blog_id: 1
                title: 範例標題
                body_html: <p>範例內容</p>
                author: 範例
                handle: 範例
                published: true
                published_at: "2026-09-01 10:00:00"
                published_end_at: "2026-09-01 10:00:00"
                pinned: true
                tags:
                  - id: 1
                    name: 範例名稱
                    category: 1
                cover_image_url: https://example.cyberbiz.co/sample
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - blogs
      summary: Delete an article by ID.
      description: Delete an article by ID.
      operationId: deleteV1BlogsBlogIdArticlesArticleId
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: Article ID.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Delete an article by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
              example:
                blog_id: 1
                title: 範例標題
                body_html: <p>範例內容</p>
                author: 範例
                handle: 範例
                published: true
                published_at: "2026-09-01 10:00:00"
                published_end_at: "2026-09-01 10:00:00"
                pinned: true
                tags:
                  - id: 1
                    name: 範例名稱
                    category: 1
                cover_image_url: https://example.cyberbiz.co/sample
                created_at: "2026-09-01 10:00:00"
                updated_at: "2026-09-01 10:00:00"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/articles/{article_id}/cover_image:
    post:
      tags:
        - blogs
      summary: Upload an article cover image.
      description: Upload an article cover image.
      operationId: postV1BlogsBlogIdArticlesArticleIdCoverImage
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: Article ID.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - cover_image
              properties:
                cover_image:
                  description: Cover image file.
                  type: string
                  format: binary
            example:
              cover_image: (binary file contents)
      responses:
        "201":
          description: Upload an article cover image.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - blogs
      summary: Delete the article cover image.
      description: Delete the article cover image.
      operationId: deleteV1BlogsBlogIdArticlesArticleIdCoverImage
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: Article ID.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "204":
          description: Delete the article cover image.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/articles/{article_id}/tags:
    get:
      tags:
        - blogs
      summary: List the tags of an article.
      description: List the tags of an article.
      operationId: getV1BlogsBlogIdArticlesArticleIdTags
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: Article ID.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: List the tags of an article.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleArticleTags'
              example:
                - id: 1
                  name: 範例名稱
                  category: 1
        "401":
          description: The token is missing, invalid, expired, lacks the scope, or the feature is not licensed for this shop (CYBERBIZ answers 401 for both). (message recorded for this endpoint)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無權使用該 API
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/articles/{article_id}/tags/add:
    put:
      tags:
        - blogs
      summary: Add tags to an article.
      description: Add tags to an article.
      operationId: putV1BlogsBlogIdArticlesArticleIdTagsAdd
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: Article ID.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tags
              properties:
                tags:
                  description: Tag names to add.
                  type: string
            example:
              tags: 範例
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - tags
              properties:
                tags:
                  description: Tag names to add.
                  type: string
            example:
              tags: 範例
      responses:
        "200":
          description: Add tags to an article.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleArticleTags'
              example:
                - id: 1
                  name: 範例名稱
                  category: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/articles/{article_id}/tags/remove:
    put:
      tags:
        - blogs
      summary: Remove tags from an article.
      description: Remove tags from an article.
      operationId: putV1BlogsBlogIdArticlesArticleIdTagsRemove
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
        - name: article_id
          in: path
          description: Article ID.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tags
              properties:
                tags:
                  description: Tag names to remove.
                  type: string
            example:
              tags: 範例
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - tags
              properties:
                tags:
                  description: Tag names to remove.
                  type: string
            example:
              tags: 範例
      responses:
        "200":
          description: Remove tags from an article.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleArticleTags'
              example:
                - id: 1
                  name: 範例名稱
                  category: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/blogs/{blog_id}/seo_meta_tags:
    get:
      tags:
        - blogs
      summary: Get the SEO meta tags of a blog.
      description: Get the SEO meta tags of a blog.
      operationId: getV1BlogsBlogIdSeoMetaTags
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Get the SEO meta tags of a blog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeoMetaTags'
              example:
                title: 範例標題
                description: 範例
                keywords: 範例
        "401":
          description: The token is missing, invalid, expired, lacks the scope, or the feature is not licensed for this shop (CYBERBIZ answers 401 for both). (message recorded for this endpoint)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無權使用該 API
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - blogs
      summary: Update the SEO meta tags of a blog.
      description: Update the SEO meta tags of a blog.
      operationId: putV1BlogsBlogIdSeoMetaTags
      parameters:
        - name: blog_id
          in: path
          description: Blog ID.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  description: SEO title.
                  type: string
                description:
                  description: SEO description.
                  type: string
                keywords:
                  description: SEO keywords.
                  type: string
            example:
              title: 範例標題
              description: 範例
              keywords: 範例
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  description: SEO title.
                  type: string
                description:
                  description: SEO description.
                  type: string
                keywords:
                  description: SEO keywords.
                  type: string
            example:
              title: 範例標題
              description: 範例
              keywords: 範例
      responses:
        "200":
          description: Update the SEO meta tags of a blog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeoMetaTags'
              example:
                title: 範例標題
                description: 範例
                keywords: 範例
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/bonus_rule:
    get:
      tags:
        - bonus_rule
      summary: Get the shop's bonus point rule.
      description: Get the shop's bonus point rule.
      operationId: getV1BonusRule
      responses:
        "200":
          description: Get the shop's bonus point rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BonusRule'
              example:
                enabled: true
                signup_bonus: 0.0
                consumption_price: 50.0
                consumption_bonus: 1.0
                expire_day: 0
                threshold_of_total_price: 0.0
                usage_limit_type: amount
                usage_limit_value: 10.0
                conversion_bonus: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/branch_stores:
    get:
      tags:
        - branch_stores
      summary: List all branch stores.
      description: List all branch stores.
      operationId: getV1BranchStores
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/offset'
      responses:
        "200":
          description: List all branch stores.
          headers:
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
            X-Offset:
              $ref: '#/components/headers/X-Offset'
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Total-Pages:
              $ref: '#/components/headers/X-Total-Pages'
            X-Next-Page:
              $ref: '#/components/headers/X-Next-Page'
            X-Prev-Page:
              $ref: '#/components/headers/X-Prev-Page'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BranchStores'
              example: []
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - branch_stores
      summary: Create a branch store.
      description: Create a branch store.
      operationId: postV1BranchStores
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostV1BranchStoresBody'
            example:
              source_id: 1
              name: 王小明
              phone: "0912345678"
              zip: "110"
              county: 台北市
              district: 信義區
              address: 台北市信義區市府路1號
              opening_hours: 範例
              payment_ids: 範例
              shipping_rates:
                - name: 範例名稱
                  min_order_subtotal: 9430
                  price: 7396
                - name: 範例名稱
                  min_order_subtotal: 1152
                  price: 9004
              source_type: 範例
              store_no: S001
              lng: 6666.9
              lat: 1059.01
      responses:
        "201":
          description: Create a branch store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStores'
              example:
                store_no: S001
                name: 王小明
                phone: "0912345678"
                county: 台北市
                district: 信義區
                address: 台北市信義區市府路1號
                zip: "110"
                opening_hours: 範例
                lat: 9313.86
                lng: 8533.31
                shipping_rates:
                  - name: 範例名稱
                    min_order_subtotal: 678
                    price: 2827
                    payments:
                      - id: 1
                        name: 範例名稱
                      - id: 2
                        name: 範例名稱
                    id: 3
                  - name: 範例名稱
                    min_order_subtotal: 4091
                    price: 9631
                    payments:
                      - id: 4
                        name: 範例名稱
                      - id: 5
                        name: 範例名稱
                    id: 6
                source_type: 範例
                source_id: 7
                id: 8
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/branch_stores/payments:
    get:
      tags:
        - branch_stores
      summary: List the payment methods available for store pickup.
      description: List the payment methods available for store pickup.
      operationId: getV1BranchStoresPayments
      responses:
        "200":
          description: List the payment methods available for store pickup.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BranchStoreBranchStorePayments'
              example:
                - id: 1
                  name: 範例名稱
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/branch_stores/{branch_store_id}:
    get:
      tags:
        - branch_stores
      summary: Get a branch store by ID.
      description: Get a branch store by ID.
      operationId: getV1BranchStoresBranchStoreId
      parameters:
        - name: branch_store_id
          in: path
          description: Branch store ID to look up.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Get a branch store by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStore'
              example:
                - id: 1
                  name: 範例名稱
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: The resource does not exist. Note that some lookups answer `200` with a `null` body or `206` with `[]` instead of `404`. (message recorded for this endpoint)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無此資源
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - branch_stores
      summary: Update a branch store by ID.
      description: Update a branch store by ID.
      operationId: putV1BranchStoresBranchStoreId
      parameters:
        - name: branch_store_id
          in: path
          description: Branch store ID to update.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name.
                  type: string
                phone:
                  description: Phone.
                  type: string
                zip:
                  description: Postal code.
                  type: string
                county:
                  description: County / city.
                  type: string
                district:
                  description: District / township.
                  type: string
                address:
                  description: Address.
                  type: string
                opening_hours:
                  description: Opening hours.
                  type: string
                store_no:
                  description: Store code.
                  type: string
                lng:
                  description: Longitude.
                  type: number
                lat:
                  description: Latitude.
                  type: number
                enabled:
                  description: Enabled.
                  type: boolean
                payment_ids:
                  description: Allowed payment method IDs, comma-separated.
                  type: string
            example:
              name: 王小明
              phone: "0912345678"
              zip: "110"
              county: 台北市
              district: 信義區
              address: 台北市信義區市府路1號
              opening_hours: 範例
              store_no: S001
              lng: 5288.84
              lat: 1568.17
              payment_ids: 範例
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  description: Name.
                  type: string
                phone:
                  description: Phone.
                  type: string
                zip:
                  description: Postal code.
                  type: string
                county:
                  description: County / city.
                  type: string
                district:
                  description: District / township.
                  type: string
                address:
                  description: Address.
                  type: string
                opening_hours:
                  description: Opening hours.
                  type: string
                store_no:
                  description: Store code.
                  type: string
                lng:
                  description: Longitude.
                  type: number
                lat:
                  description: Latitude.
                  type: number
                enabled:
                  description: Enabled.
                  type: boolean
                payment_ids:
                  description: Allowed payment method IDs, comma-separated.
                  type: string
            example:
              name: 王小明
              phone: "0912345678"
              zip: "110"
              county: 台北市
              district: 信義區
              address: 台北市信義區市府路1號
              opening_hours: 範例
              store_no: S001
              lng: 5288.84
              lat: 1568.17
              payment_ids: 範例
      responses:
        "200":
          description: Update a branch store by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStore'
              example:
                store_no: S001
                name: 王小明
                phone: "0912345678"
                county: 台北市
                district: 信義區
                address: 台北市信義區市府路1號
                zip: "110"
                opening_hours: 範例
                lat: 6841.9
                lng: 321.26
                shipping_rates:
                  - name: 範例名稱
                    min_order_subtotal: 9367
                    price: 283
                    payments:
                      - id: 1
                        name: 範例名稱
                      - id: 2
                        name: 範例名稱
                    id: 3
                  - name: 範例名稱
                    min_order_subtotal: 8726
                    price: 6359
                    payments:
                      - id: 4
                        name: 範例名稱
                      - id: 5
                        name: 範例名稱
                    id: 6
                source_type: 範例
                source_id: 7
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - branch_stores
      summary: Delete a branch store by ID.
      description: Delete a branch store by ID.
      operationId: deleteV1BranchStoresBranchStoreId
      parameters:
        - name: branch_store_id
          in: path
          description: Branch store ID to delete.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Delete a branch store by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStore'
              example:
                store_no: S001
                name: 王小明
                phone: "0912345678"
                county: 台北市
                district: 信義區
                address: 台北市信義區市府路1號
                zip: "110"
                opening_hours: 範例
                lat: 6841.9
                lng: 321.26
                shipping_rates:
                  - name: 範例名稱
                    min_order_subtotal: 9367
                    price: 283
                    payments:
                      - id: 1
                        name: 範例名稱
                      - id: 2
                        name: 範例名稱
                    id: 3
                  - name: 範例名稱
                    min_order_subtotal: 8726
                    price: 6359
                    payments:
                      - id: 4
                        name: 範例名稱
                      - id: 5
                        name: 範例名稱
                    id: 6
                source_type: 範例
                source_id: 7
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/branch_stores/{branch_store_id}/express_delivery_setting:
    put:
      tags:
        - branch_stores
      summary: Enable / disable express delivery.
      description: Enable / disable express delivery.
      operationId: putV1BranchStoresBranchStoreIdExpressDeliverySetting
      parameters:
        - name: branch_store_id
          in: path
          description: Branch store ID whose express-delivery setting to update.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - express_delivery_status
              properties:
                express_delivery_status:
                  description: Status.
                  type: boolean
            example:
              express_delivery_status: true
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - express_delivery_status
              properties:
                express_delivery_status:
                  description: Status.
                  type: boolean
            example:
              express_delivery_status: true
      responses:
        "200":
          description: Enable / disable express delivery.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BranchStores'
              example:
                - store_no: S001
                  name: 王小明
                  phone: "0912345678"
                  county: 台北市
                  district: 信義區
                  address: 台北市信義區市府路1號
                  zip: "110"
                  opening_hours: 範例
                  lat: 7757.32
                  lng: 3280.08
                  shipping_rates:
                    - name: 範例名稱
                      min_order_subtotal: 7275
                      price: 7104
                      payments:
                        - id: 1
                          name: 範例名稱
                        - id: 2
                          name: 範例名稱
                      id: 3
                    - name: 範例名稱
                      min_order_subtotal: 611
                      price: 8944
                      payments:
                        - id: 4
                          name: 範例名稱
                        - id: 5
                          name: 範例名稱
                      id: 6
                  source_type: 範例
                  source_id: 7
                  id: 8
                - store_no: S001
                  name: 王小明
                  phone: "0912345678"
                  county: 台北市
                  district: 信義區
                  address: 台北市信義區市府路1號
                  zip: "110"
                  opening_hours: 範例
                  lat: 2827.88
                  lng: 4494.35
                  shipping_rates:
                    - name: 範例名稱
                      min_order_subtotal: 3922
                      price: 1782
                      payments:
                        - id: 9
                          name: 範例名稱
                        - id: 10
                          name: 範例名稱
                      id: 11
                    - name: 範例名稱
                      min_order_subtotal: 8979
                      price: 2794
                      payments:
                        - id: 12
                          name: 範例名稱
                        - id: 13
                          name: 範例名稱
                      id: 14
                  source_type: 範例
                  source_id: 15
                  id: 16
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/branch_stores/{branch_store_id}/prepare_delivery_config:
    get:
      tags:
        - branch_stores
      summary: Get the preparation (prepare-delivery) settings of a branch store by ID.
      description: Get the preparation (prepare-delivery) settings of a branch store by ID.
      operationId: getV1BranchStoresBranchStoreIdPrepareDeliveryConfig
      parameters:
        - name: branch_store_id
          in: path
          description: Branch store ID whose preparation settings to look up.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Get the preparation (prepare-delivery) settings of a branch store by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStorePrepareDeliveryConfig'
              example:
                delivery_date_enabled: true
                delivery_date_required: true
                prepare_delivery_day: 1
                selectable_range: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: The resource does not exist. Note that some lookups answer `200` with a `null` body or `206` with `[]` instead of `404`. (message recorded for this endpoint)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無此資源
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - branch_stores
      summary: Update the preparation (prepare-delivery) settings of a branch store by ID.
      description: Update the preparation (prepare-delivery) settings of a branch store by ID.
      operationId: putV1BranchStoresBranchStoreIdPrepareDeliveryConfig
      parameters:
        - name: branch_store_id
          in: path
          description: Branch store ID whose preparation settings to look up.
          required: true
          schema:
            type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                delivery_date_enabled:
                  description: Whether delivery dates are enabled.
                  type: boolean
                delivery_date_required:
                  description: Whether the delivery date is required.
                  type: boolean
                prepare_delivery_day:
                  description: Preparation days (1-90).
                  type: integer
                selectable_range:
                  description: Selectable date range (days).
                  type: integer
            example:
              delivery_date_enabled: true
              delivery_date_required: true
              prepare_delivery_day: 1
              selectable_range: 1
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                delivery_date_enabled:
                  description: Whether delivery dates are enabled.
                  type: boolean
                delivery_date_required:
                  description: Whether the delivery date is required.
                  type: boolean
                prepare_delivery_day:
                  description: Preparation days (1-90).
                  type: integer
                selectable_range:
                  description: Selectable date range (days).
                  type: integer
            example:
              delivery_date_enabled: true
              delivery_date_required: true
              prepare_delivery_day: 1
              selectable_range: 1
      responses:
        "200":
          description: Update the preparation (prepare-delivery) settings of a branch store by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchStorePrepareDeliveryConfig'
              example:
                delivery_date_enabled: true
                delivery_date_required: true
                prepare_delivery_day: 1
                selectable_range: 1
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /v1/branch_stores/{branch_store_id}/shipping_rates:
    get:
      tags:
        - branch_stores
      summary: List the shipping rates of a branch store by ID.
      description: List the shipping rates of a branch store by ID.
      operationId: getV1BranchStoresBranchStoreIdShippingRates
      parameters:
        - name: branch_store_id
          in: path
          description: Branch store ID whose shipping rates to look up.
          required: true
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: List the shipping rates of a branch store by ID.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BranchStoreBranchStoreShippingRates'
              example:
                - name: 範例名稱
                  min_order_subtotal: 7327
                  price: 3063
                  payments:
                    - id: 1
                      name: 範例名稱
                    - id: 2
                      name: 範例名稱
                  id: 3
                - name: 範例名稱
                  min_order_subtotal: 2176
                  price: 5906
                  payments:
                    - id: 4
                      name: 範例名稱
                    - id: 5
                      name: 範例名稱
                  id: 6
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: The resource does not exist. Note that some lookups answer `200` with a `null` body or `206` with `[]` instead of `404`. (message recorded for this endpoint)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  - 無此資源
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - branch_stores
[...]
